In [1]:
import pandas as pd

In [3]:
import pandas as pd
df_csv = pd.read_csv("adult.csv")

In [4]:
df_csv

,Age,Workclass,Income,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per Week,Native Country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [5]:
# 計算薪資的平均值
mean_salary = np.mean(df['薪資'])
print("平均薪資:", mean_salary)

NameError: name 'np' is not defined

In [6]:
import numpy as np

In [7]:
# 計算薪資的平均值
mean_salary = np.mean(df['薪資'])
print("平均薪資:", mean_salary)

NameError: name 'df' is not defined

In [8]:
# 計算薪資的平均值
mean_salary = np.mean(df['adult'])
print("平均薪資:", mean_salary)

NameError: name 'df' is not defined

In [9]:
df = pd.read_csv('adult.csv')

In [12]:
# 計算薪資的平均值
mean_salary = np.mean(df['Income'])
print("平均薪資:", mean_salary)

平均薪資: 189778.36651208502

In [13]:
# 計算薪資的標準差
std_salary = np.std(df['Income'])
print("薪資標準差:", std_salary)

薪資標準差: 105548.3568808909

In [14]:
# 計算薪資的中位數
median_salary = np.median(df['Income'])
print("薪資中位數:", median_salary)

薪資中位數: 178356.0